# Lab | SQL Queries 9

In [8]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import getpass

### 5. Create a Python connection with SQL database and retrieve the results of the last two queries (also mentioned below) as dataframes

In [9]:
password = getpass.getpass()

········

#### a) Check the number of rentals for each customer for May

In [10]:
uri = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(uri)

rentals_may = pd.read_sql('''select customer_id, count(rental_id) as "rentals"
from rentals_may
group by customer_id
order by count(rental_id) desc; ''', engine)
rentals_may.head()

   customer_id  rentals
0          197        8
1          506        7
2          109        7
3          269        6
4          239        6

#### b) Check the number of rentals for each customer for June

In [11]:
uri = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(uri)

rentals_june = pd.read_sql('''select customer_id, count(rental_id) as "rentals"
from rentals_june
group by customer_id
order by count(rental_id) desc; ''', engine)
rentals_june.head()

   customer_id  rentals
0           31       11
1          454       10
2          329        9
3          295        9
4          561        9

### 6. Write a function that checks if customer borrowed more or less books in the month of June as compared to May.

In [29]:
rentals = rentals_may.merge(rentals_june, left_on='customer_id', right_on='customer_id', suffixes=('_may', '_june'))


rentals

     customer_id  rentals_may  rentals_june
0            197            8             8
1            506            7             5
2            109            7             5
3            269            6             3
4            239            6             5
..           ...          ...           ...
507          234            1             8
508          431            1             7
509          351            1             3
510           10            1             5
511          136            1             1

[512 rows x 3 columns]

In [34]:
#???????????????????????

def rentalcheck(customer):
    rentaltemp = rentals[(rentals['customer_id'] == int(customer))]
    if rentaltemp['rentals_may'][0] > rentaltemp['rentals_june']:
        print('This customer borrowed less in the month of June')
    elif rentaltemp['rentals_may'] == rentaltemp['rentals_june']:
        print('This customer borrowed the same in both months')
    else:
        print('This customer borrowed more in the month of June')

In [39]:
rentaltemp = rentals[(rentals['customer_id'] == 197)
rentaltemp

KeyError: 0